body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

header {
    background-color: rgb(0, 0, 55);
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

header h1 {
    margin: 0;
}

main {
    margin: auto;
}

img {
    margin: auto;
    padding: 0;
    display: block;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    background-color: rgb(0, 0, 55);
    color: #ffffff;
    margin: 0;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

footer p {
    margin: 0;
}