:root {
    --green-hard: #002400;
    --green-medium: #273B09;
    --green-soft: #7B904B;
    --white:#fff;

    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Montserrat", Helvetica, sans-serif;
}

body {
    font-family: var(--paragraph-font);
}

/* Nav Start */
/* Nav Start */
/* Nav Start */



#logo1 {
    width: 2.5rem;
    margin-left: 2rem;
    transition: .5s;
}

#logo1:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}

nav {
    background-color: var(--green-hard);
    height: 3.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

#navlinks {
    margin-right: 2rem;
    display: none;
}

nav a {
    text-decoration: none;
    color: var(--white);
    width: 100%;
    transition: .5s;
    padding: .5rem;
}

nav a:hover {
    background-color: #000000;
}

#logolink:hover {
    background-color: var(--green-hard);
}

/* Nav End */
/* Nav End */
/* Nav End */

/* Hero Start */
/* Hero Start */
/* Hero Start */

.hero-banner {
    position: relative;
    text-align: center;
}

.hero-banner img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(.5);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #000000e0;
    padding: 2rem;
}

.hero-text h1 {
    font-size: 3vw;
}

.hero-text p {
    font-size: 1.5rem;
    margin-top: 0;
}

.hero-text a {
    background-color: var(--green-hard);
    text-decoration: none;
    color: var(--white);
    padding: 1vw 2vw 1vw 2vw;
    transition: .5s;
}

.hero-text a:hover {
    padding: 1vw 4vw 1vw 4vw;
    transition: .5s;
    background-color: var(--green-hard);
    color: var(--white);
}

/* Hero End */
/* Hero End */
/* Hero End */

/* Introduction start */
/* Introduction start */
/* Introduction start */

#introduction {
    color: var(--white);
    background-color: var(--green-medium);
    padding: 3vw;
    text-align: center;
}

#introduction p {
    width: 75%;
    margin: 0;
    margin: auto;
}

#logo2 {
    width: 100px;
    margin-top: 2vw;
}

/* Introduction end */
/* Introduction end */
/* Introduction end */

/* Weather and events start */
/* Weather and events start */
/* Weather and events start */

#weatherevents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#weather {
    grid-area: 1 / 3 / 2 / 4;
    padding: 2vw;
    margin: 2vw;
    border-radius: 5px;
    background-image: url('../images/rain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    filter: grayscale(50%);
}

#weather h3 {
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#weather-content p {
    margin: 5px;
}

#weather-content {
    text-align: center;
    border-radius: 5px;
    background-color: #000000af;
    color: var(--white);
    height: 100%;
}

#events {
    grid-area: 1 / 1 / 2 / 3;
    padding: 2vw;
}

#events h3 {
    margin: 0;
}

.uevent {
    border: 0.5px solid #c5e3c5;
    border-radius: 5px;
    padding: 2vw;
}

.uevent p {
    margin: 0;
}

#uevent-title {
    font-weight: bold;
}

#uevent-date {
    font-style: italic;
}

#uevent-description {
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: var(--green-medium);
}

#uevent-more {
    font-style: italic;
    color: blue;
}
#uevent-more:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Weather and events end */
/* Weather and events end */
/* Weather and events end */


/* Services Wrapper Start */
/* Services Wrapper Start */
/* Services Wrapper Start */

#services {
    text-align: center;
}

#services-wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.service {
    margin: 1vw;
    padding: 3vw;
}
.service img {
    border-radius: 50%;
    width: 25%;
    filter: grayscale(100%);
}

.service-title {
    font-weight: bold;
}

.service-description {
    font-style: italic;
    color: var(--green-hard);
}

/* Services Wrapper End */
/* Services Wrapper End */
/* Services Wrapper End */

/* Spotligth Start */
/* Spotligth Start */
/* Spotligth Start */

#spotlight {
    text-align: center;
}

.hrgeneric {
    margin: 0 2vw 0vw 2vw;
}

#spotlight-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.member {
    text-align: center;
    margin: 2vw;
    padding: 0vw;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
}

.member-name {
    font-size: 1.5rem;
    color: var(--green-hard);
}

.member-phrase {
    font-style: italic;
    color: #000000;
}

.member-email, .member-number, .member-link {
    text-decoration: underline;
    color: blue;
}

.member-email:hover, .member-number:hover, .member-link:hover {
    cursor: pointer;
}
/* Spotligth End */
/* Spotligth End */
/* Spotligth End */

/* Footer Start */
/* Footer Start */
/* Footer Start */

footer {
    background-color: var(--green-hard);
    color: var(--white);
    padding: 2vw;  
    text-align: center;
}

#footerin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#footerimg {
    margin-left: 2vw;
    display: flex;
}

#footerimg img {
    height: 75px;
}

#footeraddress {
    margin-left: 3vw;
    text-align: start;
}

#footeraddress p {
    color: var(--white);
}

#footerlinks {
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    text-align: end;
}

#footerlinks a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white);
    transition: .5s;
}

#footerlinks a:hover {
    color: var(--green-hard);
    transition: .5s;
}

#hrfooter {
    margin: 2vw;
    border: none;
    border-top: 1px solid #7B904B;
}

footer p {
    margin: 0;
    color: var(--white);
}

/* Footer Ends */
/* Footer Ends */
/* Footer Ends */

/* Menu Start */
/* Menu Start */
/* Menu Start */

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "\00d7";
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #fff;
    background-color: var(--green-hard);
 	position: absolute;
    right: 50px;
}

.navmobile {
    background-color: var(--green-hard);
    width: 100%;
    position: absolute;
    text-align: start !important;
    z-index: 3;
    top: 3.5rem;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.navlinkmobile {
    margin: auto;
    text-align: center;
}

/* Menu Ends */
/* Menu Ends */
/* Menu Ends */


/* Discover Banner */
/* Discover Banner */
/* Discover Banner */

#discoverbanner {
    margin: 1rem;
    border-radius: 5px;
} 

#discoverbanner img {
    max-width: 100%;
    min-height: 200px;
    border-radius: 5px;
    object-fit:cover;
    filter: grayscale(1);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
}

#discoverbanner h1 {
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 125px;
    left: 2.5rem;
    background-color: #000000bf;
    padding: 2rem 3rem;
    border-radius: 5px;
    color: #fff;
}

.infobox p {
    margin: 0;
}
.infobox h3 {
    margin: 1rem 0;
}
.infobox ul {
    padding: 1rem;
    margin: 0;
}

.infobox{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: start;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    /* -webkit-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    box-shadow: 3px 3px 10px 0px rgba(179,179,179,1); */
}

.infoevent {
    text-decoration: underline;
    margin: 0.5rem 0 !important;
}

#sponsorbox {
    text-align: center;
}
#sponsorbox img {
    border: 1px solid rgb(144, 144, 144);
    border-radius: 50%;
}
#visitbox {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}
#maindiscover {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#sidebar{
    grid-area: 1 / 1 / 2 / 2;
    /* background-color: red; */
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}
#discoverimages {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#discoverimages picture {
    align-items: center;
}
.dscimg {
    margin-bottom: 1.5rem;
    border-radius: 5px;
    transition: .2s;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
    box-shadow: 3px 3px 10px 0px rgba(179,179,179,1);
}
.dscimg:hover {
    transform: scale(1.01);
    filter: saturate(200%);
    transition: .2s;
    -webkit-box-shadow: 0px 0px 72px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 72px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 72px 10px rgba(0,0,0,0.75);
}