:root {
    --green-hard: #002400;
    --green-medium: #273B09;
    --green-soft: #7B904B;
    --white:#fff;
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Montserrat", Helvetica, sans-serif;
}

@media screen and (min-width: 800px){
    #menu {
		display: none;
	}
    #navlinks {
        display: block;
    }
}

@media screen and (max-width: 500px){

    /* Hero */
    /* Hero */
    /* Hero */
    .hero-text {
        width: 80%;
    }
    .hero-text h1{
        font-size: 1rem;
    } 

    /* Service */
    /* Service */
    /* Service */
    #services-wraper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 3fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 10vw;
    }
    .service {
        margin: 5vw;
    }

    /* Footer */
    /* Footer */
    /* Footer */
    #footerimg img {
        margin: 3vw;
    }
    #hrfooter {
        margin: 5vw;
    }
}

@media screen and (max-width: 800px) {

    /* Introduction */
    /* Introduction */
    /* Introduction */
    #introduction p {
        padding: 5vw;
    }
    #logo2{
        margin: 3vw;
    }

    /* Service */
    /* Service */
    /* Service */
    #services {
        margin: 5vw;
    }
    .service {
        margin: 1vw;
        padding: 1vw;
    }

    /* Weather Events */
    /* Weather Events */
    /* Weather Events */
    #weatherevents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 5vw;
        margin-bottom: 15vw;
    }
    #events {
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
    }
    #weather {
        grid-area: 2 / 1 / 3 / 2;
    }

    /* Spotligth */
    /* Spotligth */
    /* Spotligth */
    #spotlight-wrap{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 7vw;
    }

    /* Footer */
    /* Footer */
    /* Footer */
    footer {
        padding: 0vw;
    }
    #footerin {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #footerlinks {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--green-medium);
        width: 100%;
        margin-top: 5vw;
        margin-bottom: 5vw;
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
    }
    footer hr {
        display: none;
    }
    #footerimg {
        display: block;
        margin: 2vw;
    }
    #footeraddress {
        margin-left: 0vw;
        text-align: center;
    }
    #footerimg img {
        /* margin: 3vw; */
    }
    #hrfooter {
        /* margin: 5vw; */
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    #weatherevents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #events {
        grid-area: 1 / 1 / 2 / 2;
    }
    #weather {
        grid-area: 1 / 2 / 2 / 3;
    }
}

@media screen and (min-width: 1024px) {

}