:root {
    --border-five: 5px;
    --label-red: #9c2c13;
    --legend-blue: #22305d;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: var(--legend-blue);
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--label-red);
    font-size: .9rem;
}

.wf1 input[type="email"],
.wf1 input[type="password"],
.wf1 input[type="text"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: var(--border-five);
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input:required {
    border-left: solid 4px red;
}

.wf1 input:required:valid {
    border-left: solid 4px green;
}

.wf1 input[type="submit"] {
    padding: .75rem;
    border: none;
    border-radius: var(--border-five);
    color: #fff;
    background: rgb(209,0,255);
    background: linear-gradient(90deg, rgba(209,0,255,1) 0%, rgba(55,0,60,1) 100%);
    max-width: 400px;
    width: 100%;
    margin: 1rem 2% 2rem 2%;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(194,194,194,1); 
    box-shadow: 0px 0px 30px 0px rgba(194,194,194,1);
}

#ratingset {
    display: flex;
    /* background-color: blue; */
    align-items: center;
}
#ratingset #rangevalue {
    margin-top: 3px;
    margin-left: 15px;
}

#passinfo {
    text-align: center;
    color: red;
    font-size: 1.3rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 400px;
    margin: 1rem 2% 2rem 2%;
    border-radius: var(--border-five);
}

/* FORM THANKS */
.formthanks {
    border: 1px solid #d5d5d5;
    border-radius: var(--border-five);
    color: #3c3c3c;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(194,194,194,1); 
    box-shadow: 0px 0px 30px 0px rgba(194,194,194,1);
}
.formthanksfooter {
    bottom: 0;
    position: absolute;
}

/* RANGE */
input[type=range] {
    height: 32px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 0px 0px 0px #000000;
    background: #B6B6B6;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #B6B6B6;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 0px 0px 0px #000000;
    background: #B6B6B6;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    /* animate: 0.2s; */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #B6B6B6;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #B6B6B6;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #B6B6B6;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #B6B6B6;
  }
  